@use '../../theme/theme' as theme;

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 30px;
	font-family: var(--fonts-family-lato), system-ui-sans-serif, sans-serif;
	color: var(--colors-text-white);
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	background: var(--colors-background-blue);
	border: 1px var(--colors-background-white) solid;
	border-radius: var(--radius-4);
	transition: all var(--transition-time-20) var(--transition-easing-easeinout);

	@include theme.text-style-helper(t4);

	@include theme.md {
		padding: 15px 60px;
	}

	// .button:hover, .button:focus
	&:hover, &:focus {
		background: var(--colors-background-deep-blue);
	}


	// .button--white
	&--white {
		color: var(--colors-text-deep-gray);
		background: var(--colors-background-white);
		border-color: #6F6D7B;

		// .button--white:hover, .button--white:focus
		&:hover, &:focus {
			background: var(--colors-background-light-gray);
		}
	}

	// .button--has-icon
	&--has-icon {
		gap: 10px;
		padding: 14px 29px;
		color: var(--colors-text-black);
		background-color: var(--colors-background-white);
		border: 2px var(--colors-background-blue) solid;

		@include theme.md {
			padding: 14px 59px;
		}

		// .button--has-icon > svg
		svg {
			display: block;
			width: auto;
			max-height: var(--fonts-height-t4);
		}

		// .button--has-icon:hover, .button--has-icon:focus
		&:hover, &:focus {
			background-color: var(--colors-background-blue);
		}
	}
}
