@use '../../theme/theme' as theme;
@use '../../mixins' as mixins;

.input-default {
  display: block;
  width: 100%;
  padding: 12px 10px;
  font-family: var(--fonts-family-lato), system-ui-sans-serif, sans-serif;
  color: var(--colors-text-black);
  background-color: rgb(255 255 255 / 85%);
  border: 1px var(--colors-background-white) solid;
  border-radius: var(--radius-3);
  outline: none;
  transition: all var(--transition-time-20) var(--transition-easing-easeinout);

  @include theme.text-style-helper(t2);

  @include mixins.placeholder {
    color: var(--colors-text-black);
  }

	// .input-default:hover, .input-default:focus, .input-default:active
  &:hover,
  &:focus,
  &:active {
    color: var(--colors-text-white);
    background-color: rgb(61 64 80 / 85%);
    border: 1px var(--colors-background-gray) solid;

    @include mixins.placeholder {
      color: var(--colors-text-white);
    }
  }
}
