@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Lato-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/Lato-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/Lato-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/Lato-Black.woff2') format('woff2');
  font-display: swap;
}
